/* Left Container */
.leftContainer {
  flex: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;

}


.leftContainer div {
  line-height: 1.5;
}

.icons {
  color: black;
  cursor: pointer;
}

.icon {
  width: 25px;
  height: 25px;
}

.highlightLink {
  cursor: pointer;
  position: relative;
  color: #0077cc;
  font-weight: bold;
  text-decoration: none;
}

.highlightLink::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.4em;
  background: #ffff66; /* yellow like a highlighter */
  opacity: 0.5;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.highlightLink:hover::before {
  transform: scaleX(1);
}




